*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
.DS_Store
DCU/Models/data/cifar-10-batches-py/test_batch
DCU/Models/data/cifar-10-batches-py/readme.html
DCU/Models/data/cifar-10-batches-py/batches.meta
DCU/Models/data/cifar-10-batches-py/data_batch_1
DCU/Models/data/cifar-10-batches-py/data_batch_2
DCU/Models/data/cifar-10-batches-py/data_batch_3
DCU/Models/data/cifar-10-batches-py/data_batch_4
DCU/Models/data/cifar-10-batches-py/data_batch_5
DCU/Models/data/cifar-10-python.tar.gz
